/* #region Base style */
body {font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;}
a {text-decoration: none;}
ul, ol {list-style-type: none;}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul,
ol {margin: 0;
    padding: 0;}
img {display: block;
max-width: 100%;
height: auto;}

/* #endregion */

/* #region Header style */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
    
.header-logo {
    padding: 16px 0;
    margin-right: auto;}

/* #region Tablet style */
@media only screen and (min-width: 768px) {
    .header-logo {
        margin-right: 120px;
    }
}
/* #endregion */

/* #region Desktop style */
@media only screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }
}
/* #endregion */

.logo-black {color: #2e2f42;}
.white-logo {color: #f4f4fd;}
.nav-container {}
.address-container {}
.header-container {display: flex;
    align-items: center;
    }
.header {border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);}

.nav {display: flex;
align-items: center;
justify-content: space-between;
flex-grow: 1;}

/* #region Tablet & Desktop style */
@media only screen and (min-width: 768px) {
    .nav {
        flex-grow: 0;
    }
}
/* #endregion */

.header-list {display: none;}

/* #region Tablet & Desktop style */
@media only screen and (min-width: 768px) {
    .header-list {
        display: flex;
        gap: 40px;
    }
}
/* #endregion */

.header-item {}

.header-link {
display: block;
position: relative;
padding-top: 24px;
padding-bottom: 24px;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
transition-property: color;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active {color: #404bbf;}
.header-link.active::after {
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    content: "";
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.header-link.active:hover::after {background-color: #404bbf;}

.header-link:hover {color: #404bbf;}
.header-link:focus {color: #404bbf;}
.active:active {color: #404bbf;}

.address {font-style: normal;
    margin-left: auto;
}

.address-list {
display: none;}

/* #region Tablet style */
@media only screen and (min-width: 768px) {
    .address-list {
        display: block;
    }
}
/* #endregion */

/* #region Desktop style */
@media only screen and (min-width: 1158px) {
    .address-list {
        gap: 40px;
        display: flex;
        }
}
/* #endregion */

.address-item:not(:last-child) {margin-bottom: 12px;}

@media only screen and (min-width: 1158px) {
.address-item:not(:last-child) {
        margin-bottom: 0;
    }
}

.address-link {
    
}

/* #region Desktop style */
@media only screen and (min-width: 768px) {
    .address-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
/* #endregion */

/* #region Desktop style */
@media only screen and (min-width: 1158px) {
    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/* #endregion */

.address-link:hover {color: #404bbf;}
.address-link:focus {color: #404bbf;}
/* #endregion */

/* #region Common */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #region Mobile style */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
/* #endregion */

/* #region Tablet style */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
/* #endregion */

/* #region Desktop style */
@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
/* #endregion */

/* #region Mobile & Tablet style */
.section {
    padding: 96px 0;
}
/* #endregion */

/* #region Desktop style */
@media only screen and (min-width: 1158px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
/* #endregion */


/* #endregion */

/* #region Hero style */
.hero {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 72px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url('../images/hero/_mob@1x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {background-image: linear-gradient(rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)), url('../images/hero/_mob@2x.jpg');
    }
}

/* #region Tablet style */
@media only screen and (min-width: 768px) {
    .hero {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url('../images/hero/_tab@1x.jpg');
    }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url('../images/hero/_tab@2x.jpg');
    }
}
/* #endregion */

/* #region Desktop style */
@media only screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)), url('../images/hero/_desk@1x.jpg');
    }
}
@media only screen and (min-width: 1158px) and (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url('../images/hero/_desk@2x.jpg');
    }
}
/* #endregion */

.hero-title {
    max-width: 216px;
    margin: auto;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

/* #region Tablet style */
@media only screen and (min-width: 768px) {
    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }
}
/* #endregion */

/* #region Desktop style */
@media only screen and (min-width: 1158px) {
    .hero-title {
        margin-bottom: 48px;
    }
}
/* #endregion */

.button {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {background-color: #404BBF;}
.button:focus {background-color: #404BBF;}
/* #endregion */

/* #region Benefits */

/* #region Mobile style */
.benefits-subtitle {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}
/* #endregion */

/* #region Tablet style */
@media only screen and (min-width: 768px) {
    .benefits-subtitle {
        text-align: left;
        }
}
/* #endregion */
/* #region Desktop style */
@media only screen and (min-width: 1158px) {
    .benefits-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}
/* #endregion */

/* #region Tablet style */
@media only screen and (min-width: 768px) {
    .benefits-list {
        display: flex;
        row-gap: 72px;
        column-gap: 24px;
        flex-wrap: wrap;
        justify-content: center;
        }
}
/* #endregion */
/* #region Desktop style */
/* @media only screen and (min-width: 1158px) {
    .benefits-list {
        gap: 24px;
    }
} */
/* #endregion */

/* #region Mobile style */
.benefits-item {
    margin-bottom: 72px;
    max-width: 288px;
}
.benefits-item:last-child {
    margin-bottom: 0;
}
/* #endregion */

/* #region Tablet style */
@media only screen and (min-width: 768px) {
    .benefits-item {
        margin-bottom: 0;
        max-width: 356px;
    }
}
/* #endregion */

/* #region Desktop style */
@media only screen and (min-width: 1158px) {
    .benefits-item {
        max-width: 264px;
    }
}
/* #endregion */

.benefits-text {
    font-weight: 500;
}
@media only screen and (min-width: 1158px) {
    .benefits-text {
        font-weight: initial;
    }
}

@media only screen and (min-width: 1158px) {
.benefits-box {
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    /* width: 264px; */
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;}
}

.benefits-icon {
    display: none;
}
@media only screen and (min-width: 1158px) {
    .benefits-icon {
        display: inherit;
    }
}

/* #endregion */

/* #region Team */
.wrapper-team {
    background-color: #f4f4fd;
}
.team-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

@media only screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 64px;
        column-gap: 24px;
    }
}

.team-container {padding: 32px 0;}

.team-item { 
    /* width: calc((100% - 72) / 4); */
    border-radius: 0 0 4px 4px;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    background-color: #fff;}

.team-img {
}

.team-subtitle {
text-align: center;
margin-bottom: 8px;
}
.team-text {text-align: center;
margin-bottom: 8px;}

.social {display: flex;
gap: 24px;
justify-content: center;}

.social-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.social-item {width: 40px;
    height: 40px;
}
.social-icon {fill: #f4f4fd;}
/* #endregion */

/* #region Portfolio */
.portfolio {}

.app-container {border: 1px solid #e7e9fc;
border-top: none;
padding: 32px 16px;}

.app-container h3 {
    margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
.portfolio-list {display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;}
}

@media only screen and (min-width: 1158px) {
    .portfolio-list {
        row-gap: 48px;
    }
}

.portfolio-item {
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.portfolio-item:not(:last-child) {
    margin-bottom: 48px;}

@media only screen and (min-width: 768px) {
    .portfolio-item {
        width: calc((100% - 1 * 24px) / 2);
    }
    .portfolio-item:not(:last-child) {
        margin-bottom: 0;
        }
}

@media only screen and (min-width: 1158px) {
    .portfolio-item {
        width: calc((100% - 2 * 24px) / 3);
    }
}

.portfolio-img {
}
.portfolio-text {}

.box-overlay {
    position: relative;
    overflow: hidden;
}
.overlay-text {
    color: #f4f4fd;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    top: 0;
    left: 0;
    transform: translateY(100%);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
}

.portfolio-item:hover .overlay-text {
    transform: translateY(0%);
}

.portfolio-item:hover {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16),
0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
/* #endregion */

/* #region Footer */
.wrapper-footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

/* #region Tablet style */
@media only screen and (min-width: 1158px) {
    .wrapper-footer {
        padding: 100px 0;
    }
}
/* #endregion */

.footer-text {
    width: 264px;
    color: #f4f4fd;
}
.footer-logo {display: block;
    text-align: center;
    margin-bottom: 16px;}

@media only screen and (min-width: 768px) {
    .footer-logo {
        display: inline-block;
    }
}

@media only screen and (min-width: 768px) {
    .footer-box {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        padding: 0 108px;
    }
}
@media only screen and (min-width: 1158px) {
    .footer-box {
        flex-wrap: nowrap;
        padding: 0 16px;
    }
}

.footer-logo-box {
    margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
    .footer-logo-box {
        margin-right: 24px;
        margin-bottom: 72px;
    }
}
@media only screen and (min-width: 1158px) {
    .footer-logo-box {
        margin-right: 120px;
        margin-bottom: 0;
        }
}

.footer-social-text {
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;}

.social-box {
    text-align: center;
    margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
    .social-box {
        text-align: left;
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 1158px) {
    .social-box {
        margin-right: 80px;
    }
}

.social-footer {
    display: flex;
    gap: 16px;
    justify-content: center;
}
@media only screen and (min-width: 768px) {
    .social-footer {
        justify-content: flex-start;
    }
}

.footer-link {transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}
.footer-submit-box {
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .footer-submit-box {
        text-align: left;
        }
}
.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
   
}
@media only screen and (min-width: 768px) {
    .form-footer {
        flex-direction: row;
        gap: 24px;
    }
}

.footer-input {
    width: 288px;
    height: 40px;
    border: 1px solid #fff;
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding: 8px;
    padding-left: 16px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
}
@media only screen and (min-width: 768px) {
    .footer-input {
        width: 264px;}
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    cursor: pointer;
    color: #ffffff;
}

.footer-icon {
    margin-left: 16px;
    fill: #fff;
}
.footer-lable {}

/* #endregion */

/* #region Modal Window */
.form {
}
.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px;
    }
}

.btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    display: inline-flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover,
.btn-close:focus {
    background-color: #404bbf;
    border: none;
}
.btn-close:hover .icon-close,
.btn-close:focus .icon-close {
    fill: #fff;
}

.icon-close {
    fill: #2e2f42;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}

.modal-text {
    margin-bottom: 16px;
    font-weight: 500;
    text-align: center;
    color: #2e2f42;
}

.form-label {
    display: block;
    position: relative;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.form-input {
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 256px;
    height: 40px;
    background-color: transparent;
    outline: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
}
@media only screen and (min-width: 768px) {
    .form-input {
        width: 360px;
    }
}
.form-input:hover,
.form-input:focus {
    border-color: #4d5ae5;
}

.form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2e2f42;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}
.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
    fill: #4d5ae5;
}

.input-wrapper {
    position: relative;
}

.modal-feild {
    margin-bottom: 8px;
}
.text-area {
    margin-bottom: 16px;
}
.modal-wrapper {
 
}

.form-textarea {
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 256px;
    min-height: 120px;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
}
@media only screen and (min-width: 768px) {
    .form-textarea {
        width: 360px;
    }
}
.form-textarea:hover,
.form-textarea:focus {
    border-color: #4d5ae5;
}

.modal-agreement {
    margin-bottom: 24px;
}
.input-checkbox {}
.modal-checkbox {
    display: inline-flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label-checkbox {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.modal-icon-click {
    fill: #f4f4fd;
    opacity: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity;
}
input[type="checkbox"]:checked+
.form-label-checkbox .modal-checkbox {
    border: none;
    fill: #F4F4FD;
    background-color: #404bbf;
    border-color: #404bbf;
}
input[type="checkbox"]:focus-visible+
.form-label-checkbox .modal-checkbox {
    outline: 1px solid #404bbf;
    outline-offset: 2px;
}

input[type="checkbox"]:checked+
.form-label-checkbox .modal-checkbox .modal-icon-click {
    opacity: 1;
}
.policy-link {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.modal-btn {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border: none;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion */

/* #region Mobile Menu */
.mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 72px 16px 40px;
    transform: translateX(100%);
    background-color: #fff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    transform: translateX(0);
}
.mob-menu-btn {
    display: flex;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: #2f2f37;
}

/* #region Tablet & Desktop */
@media only screen and (min-width: 768px) {
.mob-menu-btn {
    display: none;
}
}
.mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}
.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.mob-link-color {
    color: #404bbf;
}
.mob-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}
.mob-address-link {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 500;
}
.tel-color {
color: #4d5ae5;
}
.social-mob-menu {
    display: flex;
    gap: 40px;
}
/* #endregion */
/* #endregion */